<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header-css">
</head>

<body class="body columnaentera">
	<div class="container-fluid columnaentera">
		<div class="row columnaentera">
			<div th:replace="fragments/menu::menu">
			</div>
			<div class="col-xs-10 col-10">
				<div class="table-responsive centerElement" id="content">
					<h2 class="text-center racesTitle" id="title">SISTEMA DE PUNTUACION DE LA SESION [[${id}]]</h2>
					<table class="table-bordered  table-dark centerTable racesTable" id="table" onload="searchFilter()">
						<thead class="thead-dark" align="center" id="thead">
							<tr>
								<th width="90%" class="thead-dark-th">Puntuacion</th>
								<th width="10%" class="thead-dark-th" th:if="${session.admin == true}">Editar</th>
							</tr>
						</thead>
						<tbody class="table-warning" th:each="puntuacion : ${listaPuntuaciones}">
							<td class="td-table" th:text="${puntuacion.toString()}"></td>
							<td class="td-table" th:if="${session.admin == true}">
								<div class="col-12 col-xs-12"><a class="button" href="#"
										th:href="@{/races/puntuaciones/__${id}__/__${puntuacion.id}__}">
										<img class="icons" src="/icons/editar.png" alt="Modificar"
											title="Modificar Puntuacion"></img>
									</a>
								</div>
							</td>
						</tbody>
						<tfoot id="tfoot" th:if="${session.admin == true}">
							<tr>
								<td colspan="6" class="text-center td-table table-success">
									<div class="row">
										<form align="center" method="post" class="col-12"
											th:action="@{/races/puntuaciones/__${id}__/upload}"
											enctype="multipart/form-data">
											<input type="file" name="file">
											<input type="submit" value="Upload">
										</form>
									</div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	$('#table').paginate({
		limit: getNumberOfElements(),
		filter: false
	});
	function searchFilter() {
		this.filter();
		$('.page-navigation').remove();
		$('#table').paginate({
			limit: getNumberOfElements(),
			filter: false
		})
	}

	function getNumberOfElements() {

		let heightTitle = document.getElementById("title").offsetHeight;
		let heightContent = window.screen.height - 2 * document.getElementById("content").offsetTop;
		let heightHead = document.getElementById("thead").offsetHeight;
		let heightFoot = document.getElementById("tfoot").offsetHeight;
		let tam = document.getElementsByClassName("td-table")[0].offsetHeight;
		return (heightContent - (heightTitle * 2) - (heightHead * 4) - (heightFoot) - (tam * 2)) / tam;
	}

</script>
</html>