<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header-css">
</head>

<body class="body columnaentera" onload="searchFilter()">
	<div class="container-fluid columnaentera">
		<div class="row columnaentera">
			<div th:replace="fragments/menu::menu">
			</div>
			<div class="col-xs-10 col-10">
				<div class="table-responsive centerElement" id="content">
					<h2 class="text-center racesTitle" id="title">LISTA DE SESIONES DEL REGLAMENTO</h2>
					<table class="table-bordered  table-dark centerTable racesTable" id="table"
						onload="searchFilter()">
						<thead class="thead-dark" align="center" id="thead">
							<tr>
								<th width="10%" class="thead-dark-th">Id</th>
								<th width="50%" class="thead-dark-th">Descripcion</th>
								<th width="30%" class="thead-dark-th">Tipo Sesion</th>
								<th width="10%" class="thead-dark-th">Puntuaciones</th>
							</tr>
						</thead>
						<tbody class="table-warning" th:each="sesion : ${listaSesiones}">
							<td class="td-table" th:text="${sesion.id}"></td>
							<td class="td-table" th:text="${sesion.descripcion}"></td>
							<td class="td-table" th:text="${sesion.tipoSesion}"></td>
							<td class="td-table">
								<a href="#" th:href="@{/races/puntuaciones/__${sesion.id}__}">
									<img class="icons" src="/icons/puntos.png" alt="Puntuaciones"
										title="Ver Puntuaciones"></img>
								</a>
							</td>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	$('#table').paginate({
		limit: getNumberOfElements(),
		filter: true
	});
	function searchFilter() {
		this.filter();
		$('.page-navigation').remove();
		$('#table').paginate({
			limit: getNumberOfElements(),
			filter: true
		})
	}

	function getNumberOfElements() {
		let heightTitle = document.getElementById("title").offsetHeight;
		let heightContent = window.screen.height - 2 * document.getElementById("content").offsetTop;
		let heightHead = document.getElementById("thead").offsetHeight;
		let tam = document.getElementsByClassName("td-table")[0].offsetHeight;
		return (heightContent - (heightTitle * 2) - (heightHead * 2) - (heightFoot * 2) - (tam * 2)) / tam;
	}

	function filter() {
		var select, table, tbody, tr, td, i, j;
		table = document.getElementById("table");
		tbody = table.getElementsByTagName("tbody");
		i = 0;
		while (tbody.length > i) {
			tr = tbody[i].getElementsByTagName("tr")[0];
			j = 0;
			while (tbody.length > j) {
				td = tr.children[0];
				checkColumn(tr, td, document.getElementById("id").value, true);

				td = tr.children[1];
				checkColumn(tr, td, document.getElementById("descripcion").value,
					tr.style.display == "table-row");
				j++;
			}
			i++;
		}
	}

	function checkColumn(tr, td, filter, display) {
		if (td && display) {
			if (td.innerHTML.indexOf(filter) > -1) {
				tr.style.display = "table-row";
			} else {
				tr.style.display = "none";
			}
		}
	}

</script>
</html>