<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header-css">
</head>

<body class="body columnaentera">
	<div class="container-fluid columnaentera">
		<div class="row columnaentera">
			<div th:replace="fragments/menu::menu">
			</div>
			<div class="col-xs-10 col-10">
				<div class="table-responsive centerElement">
					<h2 class="text-center racesTitle">LISTA DE CAMPEONATOS</h2>
					<table class="table table-bordered centerElement racesTable" id="table">
						<thead align="center">
							<tr class="bg-danger text-white">
								<th width="55%">Campeonato <input type="text" id="campeonato" onkeyup="searchFilter()"
										placeholder="Buscar" class="col-10 col-xs-10"></input></th>
								<th width="10%">Reglamento</th>
								<th width="10%">Inscripciones</th>
								<th width="10%">Clasificaciones</th>
								<th width="5%">Editar</th>
								<th width="5%">Clonar</th>
								<th width="5%">Borrar</th>
							</tr>
						</thead>
						<tbody class="bg-white text-black" th:each="campeonato : ${listCampeonatos}">
							<td>
								<a href="#" th:href="@{/races/gp/__${campeonato.id}__}">
									<img class="icons" src="/icons/gp.png"></img> <span
										th:text="${campeonato.toString()}" class="d-none d-sm-inline">Ver</span>
								</a>
							</td>
							<td align="center">
								<a href="#" th:href="@{/races/reglamentos?filterId=__${campeonato.reglamento.id}__}">
									<img class="icons" src="/icons/reglamento.png" alt="Reglamento"
										title="Ver Reglamento">
								</a>
							</td>
							<td align="center">
								<a href="#" th:href="@{/races/inscripciones/c__${campeonato.id}__}">
									<img class="icons" src="/icons/inscripcion.png" alt="Inscripciones"
										title="Ver Inscripciones"></img>
								</a>
							</td>
							<td align="center">
								<a href="#" th:href="@{/races/clasificacion/campeonato/__${campeonato.id}__}">
								<img class="icons" src="/icons/resultado.png" alt="Clasificaciones"
									title="Ver Clasificaciones"></img>
								</a>
							</td>
							<td align="center">
								<div class="col-12 col-xs-12">
									<a class="button" href="#" th:href="@{/races/campeonatos/__${campeonato.id}__}">
										<img class="icons" src="/icons/editar.png" alt="Editar"
											title="Editar Campeonato"></img>
									</a>
								</div>
							</td>
							<td align="center">
								<div class="col-12 col-xs-12">
									<a class="button" href="#"
										th:href="@{/races/campeonatos/clone__${campeonato.id}__}">
										<img class="icons" src="/icons/copiar.png" alt="Clonar"
											title="Clonar Campeonato"></img>
									</a>
								</div>
							</td>
							<td align="center">
								<div class="col-12 col-xs-12">
									<a class="button" href="#" th:onclick="'borrarCampeonato('+ ${campeonato.id} +');'">
										<img class="icons" src="/icons/borrar.png" alt="Borrar"
											title="Borrar Campeonato"></img>
									</a>
								</div>
							</td>
				</div>
				</td>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="7" class="text-center">
							<div class="row">
								<a class="button pull-left col-3 centerVertical" th:href="${volver}">
									<button type="button" class="btn btn-danger btn-primary pull-left" id="cancel"
										name="cancel">Volver
									</button>
								</a>
								<a class="button col-6 centerVertical" href="/races/campeonatos/new">
									<button type="button" class="btn btn-success"
										style="width: -webkit-fill-available;">
										<img class="icons" src="/icons/campeonato.png"></img> <span
											class="d-none d-sm-inline"></span>Crear Nuevo Campeonato</span>
									</button>
								</a>
								<div class="col-3 centerVertical">
									<div class="pull-right">
										<strong><em>Número de filas</em></strong>
										<select id="nElements" name="nElements" onchange="searchFilter()">
											<option value="5">5</option>
											<option value="10" selected="selected">10</option>
											<option value="15">15</option>
											<option value="20">20</option>
										</select>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tfoot>
				</table>
			</div>
		</div>
	</div>
	</div>
	<input type="hidden" id="urlServices" th:value="${urlServices}"></input>
</body>
<script>
	var href = document.getElementById("urlServices").value;
	function borrarCampeonato(id) {
		if (id == null) {
			return;
		}
		$.ajax({
			type: 'DELETE',
			url: href + id,
			contentType: 'application/json;charset=UTF-8',
			success: function (data) {
				location.reload();
			},
			error: function (error) {
				console.log(error);
				location.reload();
			}
		})
	};

	$('#table').paginate({
		limit: getNumberOfElements(),
		filter: true
	});
	function searchFilter() {
		this.filter();
		$('.page-navigation').remove();
		$('#table').paginate({
			limit: getNumberOfElements(),
			filter: true
		})
	}

	function getNumberOfElements() {
		return document.getElementById("nElements").options[document.getElementById("nElements").selectedIndex].value;
	}

	function filter() {
		var select, table, tbody, tr, td, i, j;
		table = document.getElementById("table");
		tbody = table.getElementsByTagName("tbody");
		i = 0;
		while (tbody.length > i) {
			tr = tbody[i].getElementsByTagName("tr")[0];
			j = 0;
			while (tbody.length > j) {
				td = tr.children[0];
				checkColumn(tr, td,
					document.getElementById("campeonato").value, true);
				j++
			}
			i++
		}
	}

	function checkColumn(tr, td, filter, display) {
		if (td && display) {
			if (td.innerHTML.indexOf(filter) > -1) {
				tr.style.display = "table-row";
			} else {
				tr.style.display = "none";
			}
		}
	}

</script>

</html>