<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header-css">
</head>

<body class="body columnaentera">
	<div class="container-fluid columnaentera">
		<div class="row columnaentera">
			<div th:replace="fragments/menu::menu">
			</div>
			<div class="col-xs-10 col-10 align-self-center columnaentera">
				<div class="panel panel-default panel-body centerElement">
					<div class="container row col-md-12 well well-sm">
						<form id="formularioEquipos" th:action="@{/races/equipos}"
							class="form-horizontal formAlign" action="#" method="post">
							<fieldset>
								<legend th:if="${equipo.id == null}" class="header" align="center">Nuevo Equipo
								</legend>
								<legend th:if="${equipo.id != null}" class="header" align="center">Editar Equipo
									[[${equipo}]]</legend>
								<input type="hidden" th:field="*{equipo.id}" th:value="${equipo.id}"></input>
								<div class="form-group">
									<span class="col-2 col-md-2 col-xs-2 text-center"><img
											src="/icons/equipo.png" class="icons" alt="Nombre" title="Nombre">
										Nombre</span>
									<div class="col-12 col-md-12 col-xs-12">
										<input type="text" class="inputForm" th:field="*{equipo.nombre}"
											th:value="${equipo.nombre}" required="required"
											th:readonly="${equipo.id != null}" placeholder="Nombre del Equipo"></input>
									</div>
								</div>
								<div class="form-group">
									<span class="col-2 col-md-2 col-xs-2 text-center"><img
											src="/icons/equipo.png" class="icons" alt="Alias" title="Alias del Equipo">
										Alias</span>
									<div class="col-12 col-md-12 col-xs-12">
										<input type="text" th:field="*{equipo.alias}" th:value="${equipo.alias}"
											class="inputForm" placeholder="Alias" required="required"></input>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-12 text-center">
										<button type="submit" class="btn btn-primary pull-center">Aceptar</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>