<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header-css">
</head>

<body class="body columnaentera">
	<div class="container-fluid columnaentera">
		<div class="row columnaentera">
			<div th:replace="fragments/menu::menu">
			</div>
			<div class="col-xs-10 col-10">
				<div class="table-responsive centerElement" id="content">
					<h2 class="text-center racesTitle" id="title">LISTA DE EQUIPOS</h2>
					<table class="table-bordered centerTable racesTable" id="table" onload="searchFilter()">
						<thead align="center" id="thead">
							<tr class="bg-danger text-white">
								<th width="75%">Equipo <input type="text" id="nombre" onkeyup="searchFilter()"
										placeholder="Buscar" class="col-10"></input></th>
								<th width="10%">Inscripciones</th>
								<th width="5%">Editar</th>
								<th width="5%">Clonar</th>
								<th width="5%">Borrar</th>
							</tr>
						</thead>
						<tbody class="bg-white text-black" th:each="equipo : ${listaEquipos}">
							<td class="td-table" th:text="${equipo.toString()}"></td>
							<td class="td-table">
								<a href="#" th:href="@{/races/inscripciones/e__${equipo.id}__}">
									<img class="icons" src="/icons/inscripcion.png" alt="Inscripciones"
										title="Ver Inscripciones"></img>
								</a>
							</td>
							<td class="td-table">
								<div class="col-12 col-xs-12"><a class="button" href="#"
										th:href="@{/races/equipos/__${equipo.id}__}">
										<img class="icons" src="/icons/editar.png" alt="Editar"
											title="Editar Equipo"></img>
									</a>
								</div>
							</td>
							<td class="td-table">
								<div class="col-12 col-xs-12"><a class="button" href="#"
										th:href="@{/races/equipos/clone__${equipo.id}__}">
										<img class="icons" src="/icons/copiar.png" alt="Clonar"
											title="Clonar Equipo"></img>
									</a>
								</div>
							</td>
							<td class="td-table">
								<div class="col-12 col-xs-12">
									<a class="button" href="#" th:onclick="'borrarequipo('+ ${equipo.id} +');'">
										<img class="icons" src="/icons/borrar.png" alt="Borrar"
											title="Borrar Equipo"></img>
									</a>
								</div>
							</td>
						</tbody>
						<tfoot id="tfoot">
							<tr>
								<td colspan="5" class="td-table text-center">
									<div class="row">
										<a class="button col-12 centerVertical" href="/races/equipos/new">
											<button type="button" class="btn btn-success btn-primary pull-center"
												style="width: -webkit-fill-available;">
												<img class="icons" src="/icons/equipo.png"></img> <span
													class="d-none d-sm-inline"></span>Crear Nuevo Equipo</span>
											</button>
										</a>
									</div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="urlServices" th:value="${urlServices}"></input>
</body>
<script>
	var href = document.getElementById("urlServices").value;
	function borrarequipo(id) {
		if (id == null) {
			return;
		}
		$.ajax({
			type: 'DELETE',
			url: href + id,
			contentType: 'application/json;charset=UTF-8',
			success: function (data) {
				location.reload();
			},
			error: function (error) {
				console.log(error);
				location.reload();
			}
		})
	};

	$('#table').paginate({
		limit: getNumberOfElements(),
		filter: true
	});
	function searchFilter() {
		this.filter();
		$('.page-navigation').remove();
		$('#table').paginate({
			limit: getNumberOfElements(),
			filter: true
		})
	}

	function getNumberOfElements() {
		let heightTitle = document.getElementById("title").offsetHeight;
		let heightContent = window.screen.height - 2 * document.getElementById("content").offsetTop;
		let heightHead = document.getElementById("thead").offsetHeight;
		let heightFoot = document.getElementById("tfoot").offsetHeight;
		let tam = document.getElementsByClassName("td-table")[0].offsetHeight;
		return (heightContent - (heightTitle * 2) - (heightHead * 2) - (heightFoot * 2) - (tam * 2)) / tam;
	}

	function filter() {
		var select, table, tbody, tr, td, i, j;
		table = document.getElementById("table");
		tbody = table.getElementsByTagName("tbody");
		i = 0;
		while (tbody.length > i) {
			tr = tbody[i].getElementsByTagName("tr")[0];
			j = 0;
			while (tbody.length > j) {
				td = tr.children[0];
				checkColumn(tr, td, document.getElementById("nombre").value, true);
				j++
			}
			i++
		}
	}

	function checkColumn(tr, td, filter, display) {
		if (td && display) {
			if (td.innerHTML.indexOf(filter) > -1) {
				tr.style.display = "table-row";
			} else {
				tr.style.display = "none";
			}
		}
	}

</script>

</html>