<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header-css">
</head>

<body class="body columnaentera">
	<div class="container-fluid columnaentera">
		<div class="row columnaentera">
			<div th:replace="fragments/menu::menu">
			</div>
			<div class="col-xs-10 col-10 align-self-center">
				<div class="panel-body centerElement">
					<form id="formularioEquipos" th:action="@{/races/equipos}"
						class="formAlign bg-white text-dark" action="#" method="post">
						<div class="centerElement">
							<div th:if="${equipo.id == null}" class="centerElement">
								<h2 align="center" class="mb-1 mt-1">Nuevo Equipo</h2>
							</div>
							<div th:if="${equipo.id != null}" class="centerElement">
								<h2 align="center" class="mb-1 mt-1">Editar Equipo</h2>
							</div>
							<input type="hidden" th:field="*{equipo.id}" th:value="${equipo.id}"></input>
							<div class="form-group row">
								<label for="Nombre" class="col-sm-5 col-form-label"><strong>Nombre</strong></label>
								<div class="col-sm-7">
									<input type="text" class="inputForm" th:field="*{equipo.nombre}"
										th:value="${equipo.nombre}" required="required"
										th:readonly="${equipo.id != null}"></input>
								</div>
							</div>
							<div class="form-group row">
								<label for="descripcion"
									class="col-sm-5 col-form-label"><strong>Alias</strong></label>
								<div class="col-sm-7">
									<input type="text" th:field="*{equipo.alias}"
										th:value="${equipo.alias}" class="inputForm"></input>
								</div>
							</div>
							<div><a href="#" th:href="@{/races/equipos}">
									<button type="button" class="btn btn-danger btn-primary pull-left" id="cancel"
										name="cancel">Volver
									</button>
								</a>
								<button type="submit" class="btn btn-primary pull-right">Aceptar</button></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>