<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header-css">
</head>

<body class="body columnaentera">
	<div class="container-fluid columnaentera">
		<div class="row columnaentera">
			<div th:replace="fragments/menu::menu">
			</div>
			<div class="col-xs-10 col-10 align-self-center columnaentera">
				<div class="panel panel-default panel-body centerElement">
					<div class="container row col-md-12 well well-sm">
						<form id="formulariopuntuacion" th:action="@{/races/gp/__${id}__}" class="form-horizontal inputForm formAlign"
							method="post">
							<fieldset>
								<legend class="text-center header">Nuevo GP para el Campeonato
									[[${nombre}]]</legend>

								<div class="form-group">
									<span class="col-2 col-md-2 col-xs-2 text-center text-white"><img
											src="/icons/ubicacion.png" class="icons" alt="Fecha" title="Fecha del GP">
										Ubicacion</span>
									<div class="col-12 col-md-12 col-xs-12">
										<input type="text" class="inputForm" th:field="*{gp.ubicacion}"
											th:value="${gp.ubicacion}" required="required"
											placeholder="Ubicacion"></input>
									</div>
								</div>
								<div class="form-group">
									<span class="col-2 col-md-2 col-xs-2 text-center text-white"><img
											src="/icons/sesiones.png" class="icons" alt="Fecha" title="Fecha del GP">
										Fecha</span>
									<div class="col-12 col-md-12 col-xs-12">
										<input type="date" class="form-control" id="fecha" th:field="*{gp.fecha}"
											th:value="${gp.fecha}" required></input>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-12 text-center">
										<button type="submit" class="btn btn-primary pull-center">Aceptar</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>