<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header-css">
</head>

<body class="body columnaentera">
	<div class="container-fluid columnaentera">
		<div class="row columnaentera">
			<div th:replace="fragments/menu::menu">
			</div>
			<div class="col-xs-10 col-10">
				<div class="table-responsive centerElement">
					<h2 class="text-center racesTitle">GRANDES PREMIOS DEL CAMPEONATO [[${nombre}]]</h2>
					<table class="table table-bordered centerTable racesTable" id="table" onload="searchFilter()">
						<thead align="center">
							<tr class="bg-danger text-white">
								<th width="20%">GP <input type="text" id="gp" onkeyup="searchFilter()"
										placeholder="Buscar" class="col-10 col-xs-10"></input></th>
								<th width="65%">Sesiones <input type="text" id="sesiones" onkeyup="searchFilter()"
										placeholder="Buscar" class="col-10 col-xs-10"></input></th>
								<th width="10%">Clasificacion</th>
								<th width="5%">Borrar</th>
							</tr>
						</thead>
						<tbody class="bg-white text-black" th:each="gp : ${listaGrandesPremios}">
							<td th:text="${gp.toString()}"></td>
							<td>
								<div th:each="sesion: ${gp.sesiones}">
									<a class="button" href="#" th:href="@{/races/sesion/__${id}__/__${sesion.id}__}">
										<img class="icons" src="/icons/sesiones.png" alt="Sesiones"
											title="Ver Sesiones"></img> [[${sesion.toString()}]]
									</a>
									<hr>
								</div>
							</td>
							<td align="center">
								<div class="col-12 col-xs-12">
									<a class="button" href="#" th:href="@{/races/clasificacion/gp/__${gp.id}__}">
									<img class="icons" src="/icons/resultado.png" alt="Clasificacion"
										title="Ver Clasificacion"></img>
									</a>
								</div>
							</td>
							<td align="center">
								<div class="col-12 col-xs-12">
									<a class="button" href="#" th:onclick="'borrarGP('+ ${gp.id} +');'">
										<img class="icons" src="/icons/borrar.png" alt="Borrar"
											title="Borrar Gran Premio"></img>
									</a>
								</div>
							</td>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="4" class="text-center">
									<div class="row">
										<a class="button pull-left col-3 centerVertical"
										th:href="${volver}">
											<button type="button" class="btn btn-danger btn-primary pull-left"
												id="cancel" name="cancel">Volver
											</button>
										</a>
										<a class="button col-6 centerVertical" th:href="@{/races/gp/__${id}__/new}">
											<button type="button" class="btn btn-success"
												style="width: -webkit-fill-available;">
												<img class="icons" src="/icons/reglamento.png"></img> <span
													class="d-none d-sm-inline"></span>Crear Nuevo Gran Premio</span>
											</button>
										</a>
										<div class="col-3 centerVertical">
											<div class="pull-right">
												<strong><em>Número de filas</em></strong>
												<select id="nElements" name="nElements" onchange="searchFilter()">
													<option value="1" selected="selected">1</option>
													<option value="3">3</option>
													<option value="5">5</option>
													<option value="10">10</option>
												</select>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="urlServices" th:value="${urlServices}"></input>
</body>
<script>
	var href = document.getElementById("urlServices").value;
	function borrarGP(id) {
		if (id == null) {
			return;
		}
		$.ajax({
			type: 'DELETE',
			url: href + '/' + id,
			contentType: 'application/json;charset=UTF-8',
			success: function (data) {
				location.reload();
			},
			error: function (error) {
				console.log(error);
				location.reload();
			}
		})
	};

	$('#table').paginate({
		limit: getNumberOfElements(),
		filter: true
	});
	function searchFilter() {
		this.filter();
		$('.page-navigation').remove();
		$('#table').paginate({
			limit: getNumberOfElements(),
			filter: true
		})
	}

	function getNumberOfElements() {
		return document.getElementById("nElements").options[document.getElementById("nElements").selectedIndex].value;
	}

	function filter() {
		var select, table, tbody, tr, td, i, j;
		table = document.getElementById("table");
		tbody = table.getElementsByTagName("tbody");
		i = 0;
		while (tbody.length > i) {
			tr = tbody[i].getElementsByTagName("tr")[0];
			j = 0;
			while (tbody.length > j) {
				td = tr.children[0];
				checkColumn(tr, td, document.getElementById("gp").value, true);
				td = tr.children[1];
				checkColumn(tr, td, document.getElementById("sesiones").value, tr.style.display == "table-row");
				j++;
			}
			i++;
		}
	}

	function checkColumn(tr, td, filter, display) {
		if (td && display) {
			if (td.innerHTML.indexOf(filter) > -1) {
				tr.style.display = "table-row";
			} else {
				tr.style.display = "none";
			}
		}
	}

</script>

</html>