<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header-css">
</head>

<body class="body columnaentera">
	<div class="container-fluid columnaentera">
		<div class="row columnaentera">
			<div th:replace="fragments/menu::menu">
			</div>
			<div class="col-xs-10 col-10">
				<div class="table-responsive centerElement">
					<div th:if="${type.equals('p')}" class="text-center racesTitle">
						<h2 class="text-center racesTitle">INSCRIPCIONES DEL PILOTO [[${nombre}]]</h2>
					</div>
					<div th:if="${type == 'c'}" class="text-center racesTitle">
						<h2 class="text-center racesTitle">INSCRIPCIONES DEL CAMPEONATO [[${nombre}]]</h2>
					</div>
					<div th:if="${type == 'e'}" class="text-center racesTitle">
						<h2 class="text-center racesTitle">INSCRIPCIONES DEL EQUIPO [[${nombre}]]</h2>
					</div>
					<table class="table table-bordered centerTable racesTable" id="table" onload="searchFilter()">
						<thead align="center">
							<tr class="bg-danger text-white">
								<th th:if="${type == 'p' || type == 'e'}" width="47.5%">Campeonato</th>
								<th th:if="${type == 'c' || type == 'e'}" width="47.5%">Piloto</th>
								<th th:if="${type == 'c' || type == 'p'}" width="47.5%">Equipo</th>
								<th width="5%">Borrar</th>
							</tr>
						</thead>
						<tbody class="bg-white text-black" th:each="inscripcion : ${listaInscripciones}">
							<td th:if="${type == 'p' || type == 'e'}" th:text="${inscripcion.campeonato.toString()}">
							</td>
							<td th:if="${type == 'c' || type == 'e'}" th:text="${inscripcion.piloto.toString()}"></td>
							<td th:if="${type == 'c' || type == 'p'}" th:text="${inscripcion.equipo.toString()}"></td>
							<td align="center">
								<div class="col-12 col-xs-12">
									<a class="button" href="#"
										th:onclick="'borrarInscripcion('+ ${inscripcion.id} +');'">
										<img class="icons" src="/icons/borrar.png" alt="Borrar"
											title="Borrar Inscripcion"></img>
									</a>
								</div>
							</td>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="3" class="text-center">
									<div class="row">
										<a class="button pull-left col-3 centerVertical"
											th:href="${volver}">
											<button type="button" class="btn btn-danger btn-primary pull-left"
												id="cancel" name="cancel">Volver
											</button>
										</a>
										<a class="button col-6 centerVertical"
											th:href="@{/races/inscripciones/__${type}__/__${id}__}">
											<button type="button" class="btn btn-success"
												style="width: -webkit-fill-available;">
												<img class="icons" src="/icons/inscripcion.png"></img> <span
													class="d-none d-sm-inline"></span>Añadir Inscipcion</span>
											</button>
										</a>
										<div class="col-3 centerVertical">
											<div class="pull-right">
												<strong><em>Número de filas</em></strong>
												<select id="nElements" name="nElements" onchange="searchFilter()">
													<option value="5">5</option>
													<option value="10" selected="selected">10</option>
													<option value="15">15</option>
													<option value="20">20</option>
												</select>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="urlServices" th:value="${urlServices}"></input>
</body>
<script>
	var href = document.getElementById("urlServices").value;
	function borrarInscripcion(id) {
		if (id == null) {
			return;
		}
		$.ajax({
			type: 'DELETE',
			url: href + '/' + id,
			contentType: 'application/json;charset=UTF-8',
			success: function (data) {
				location.reload();
			},
			error: function (error) {
				console.log(error);
				location.reload();
			}
		})
	};

	$('#table').paginate({
		limit: getNumberOfElements(),
		filter: false
	});
	function searchFilter() {
		$('.page-navigation').remove();
		$('#table').paginate({
			limit: getNumberOfElements(),
			filter: false
		})
	}

	function getNumberOfElements() {
		return document.getElementById("nElements").options[document.getElementById("nElements").selectedIndex].value;
	}

</script>

</html>