<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header-css">
</head>

<body class="body columnaentera">
	<div class="container-fluid columnaentera">
		<div class="row columnaentera">
			<div th:replace="fragments/menu::menu">
			</div>
			<div class="col-xs-10 col-10 align-self-center columnaentera">
				<div class="panel panel-default panel-body centerElement">
					<div class="container row col-md-12 well well-sm">
						<form id="formulariopilotos" th:action="@{/races/pilotos/password}"
							class="form-horizontal formAlign" action="#" method="post" onsubmit="check()">
							<fieldset>
								<legend class="header" align="center">[[${session.user}]] - Cambio de Contraseña
								</legend>
								<input type="hidden" th:field="*{password.id}" th:value="${password.id}"></input>
								<div class="form-group">
									<span class="col-2 col-md-2 col-xs-2 text-center"><img src="/icons/password.png"
											class="icons" alt="Password Actual" title="Password Actual">
										Password Actual</span>
									<div class="col-12 col-md-12 col-xs-12">
										<input type="password" class="inputForm" th:field="*{password.currentPass}"
											th:value="${password.currentPass}" required="required"
											placeholder="Password Actual"></input>
									</div>
								</div>
								<div class="form-group">
									<span class="col-2 col-md-2 col-xs-2 text-center"><img src="/icons/password.png"
											class="icons" alt="Nueva Password" title="Nueva Password">
										Nueva Password</span>
									<div class="col-12 col-md-12 col-xs-12">
										<input type="password" th:field="*{password.newpass}" th:value="${password.newpass}"
											class="inputForm" required="required" placeholder="Nueva Password"></input>
									</div>
								</div>
								<div class="form-group">
									<span class="col-2 col-md-2 col-xs-2 text-center"><img src="/icons/password.png"
											class="icons" alt="Control" title="Campo de control">
										Repita Password</span>
									<div class="col-12 col-md-12 col-xs-12">
										<input type="password" class="inputForm" required="required"
											placeholder="Password de control"></input>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-12 text-center">
										<button type="submit" class="btn btn-primary pull-center">Aceptar</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
</body>
<script >
	function check(){

	}
</script>
</html>