<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header-css">
</head>

<body class="body columnaentera">
	<div class="container-fluid columnaentera">
		<div class="row columnaentera">
			<div th:replace="fragments/menu::menu">
			</div>
			<div class="col-xs-10 col-10">
				<div class="table-responsive centerElement" id="content">
					<h2 class="text-center racesTitle" id="title">LISTA DE PILOTOS</h2>
					<table class="table-bordered  table-dark centerTable racesTable" id="table" onload="searchFilter()">
						<thead class="thead-dark" align="center" id="thead">
							<tr>
								<th width="80%" class="thead-dark-th">Piloto <input type="text" id="nombre"
										onkeyup="searchFilter()" placeholder="Buscar" class="col-10"></input></th>
								<th width="10%" class="thead-dark-th">Inscripciones</th>
								<th width="5%" class="thead-dark-th" th:if="${session.admin == true}">Admin</th>
								<th width="5%" class="thead-dark-th" th:if="${session.admin == true}">Borrar</th>
							</tr>
						</thead>
						<tbody class="table-warning" th:each="piloto : ${listaPilotos}">
							<td class="td-table" th:text="${piloto.toString()}"></td>
							<td class="td-table">
								<a href="#" th:href="@{/races/inscripciones/p__${piloto.id}__}">
									<img class="icons" src="/icons/inscripcion.png" alt="Inscripciones"
										title="Ver Inscripciones">
								</a>
							</td>
							<td class="td-table" th:if="${session.admin == true}">
								<div th:if="${piloto.admin == true}" class="col-12 col-xs-12">
									<a class="button" href="#"></a>
									<img class="icons" src="/icons/afirmativo.png" alt="Administrador"
										title="Usuario Administrador"></img>
									</a>
								</div>
								<div th:if="${piloto.admin == false}" class="col-12 col-xs-12">
									<a class="button" href="#" th:onclick="'promocionarPiloto('+ ${piloto.id} +');'">
										<img class="icons" src="/icons/negativo.png" alt="Usuario Estandar"
											title="Usuario Estandar"></img>
									</a>
								</div>
							</td>
							<td class="td-table" th:if="${session.admin == true}">
								<div th:if="${piloto.admin == false}" class="col-12 col-xs-12">
									<a class="button" href="#"
										th:onclick="javascript:borrarpiloto( [[${piloto.id}]] , [[${piloto.toString()}]]);">
										<img class="icons" src="/icons/borrar.png" alt="Borrar"
											title="Borrar Piloto"></img>
									</a>
								</div>
								<div th:if="${piloto.admin == true}" class="col-12 col-xs-12">
									<img class="icons" src="/icons/borrar_oculto.png" alt="Borrar"
										title="Borrar Piloto"></img>
								</div>
							</td>
						</tbody>
						<tfoot id="tfoot">
							<tr>
								<td colspan="4" class="text-center table-success ">
									<div class="row" th:if="${session.admin == true}">
										<a class="button col-12 pull-center centerVertical" href="/races/pilotos/new">
											<button type="button" class="btn btn-success btn-primary pull-center"
												style="width: -webkit-fill-available;">
												<img class="icons" src="/icons/piloto.png"></img> <span
													class="d-none d-sm-inline"></span>Crear Nuevo Piloto</span>
											</button>
										</a>
									</div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="urlServices" th:value="${urlServices}"></input>
</body>
<script>
	var href = document.getElementById("urlServices").value;
	function borrarpiloto(id, nombre) {
		if (id == null || !confirm("Se eliminarán TODOS los Resultados e Inscripciones del Piloto.\n¿Está seguro de que desea borrar al piloto: " + nombre + "?")) {
			return;
		}
		$.ajax({
			type: 'DELETE',
			url: href + id,
			contentType: 'application/json;charset=UTF-8',
			success: function (data) {
				location.reload();
			},
			error: function (error) {
				console.log(error);
				location.reload();
			}
		})
	};

	function promocionarPiloto(id) {
		if (id == null) {
			return;
		}
		$.ajax({
			type: 'PUT',
			url: href + id,
			contentType: 'application/json;charset=UTF-8',
			success: function (data) {
				location.reload();
			},
			error: function (error) {
				console.log(error);
				location.reload();
			}
		})
	};

	$('#table').paginate({
		limit: getNumberOfElements(),
		filter: true
	});
	function searchFilter() {
		this.filter();
		$('.page-navigation').remove();
		$('#table').paginate({
			limit: getNumberOfElements(),
			filter: true
		})
	}

	function getNumberOfElements() {
		let heightTitle = document.getElementById("title").offsetHeight;
		let heightContent = window.screen.height - 2 * document.getElementById("content").offsetTop;
		let heightHead = document.getElementById("thead").offsetHeight;
		let heightFoot = document.getElementById("tfoot").offsetHeight;
		let tam = document.getElementsByClassName("td-table")[0].offsetHeight;
		return (heightContent - (heightTitle * 2) - (heightHead * 2) - (heightFoot * 2) - (tam * 2)) / tam;
	}

	function filter() {
		var select, table, tbody, tr, td, i, j;
		table = document.getElementById("table");
		tbody = table.getElementsByTagName("tbody");
		i = 0;
		while (tbody.length > i) {
			tr = tbody[i].getElementsByTagName("tr")[0];
			j = 0;
			while (tbody.length > j) {
				td = tr.children[0];
				checkColumn(tr, td, document.getElementById("nombre").value, true);
				j++
			}
			i++
		}
	}

	function checkColumn(tr, td, filter, display) {
		if (td && display) {
			if (td.innerHTML.indexOf(filter) > -1) {
				tr.style.display = "table-row";
			} else {
				tr.style.display = "none";
			}
		}
	}

</script>

</html>