<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header-css">
</head>

<body class="body columnaentera">
	<div class="container-fluid columnaentera">
		<div class="row columnaentera">
			<div th:replace="fragments/menu::menu">
			</div>
			<div class="col-xs-10 col-10 align-self-center columnaentera">
				<div class="panel panel-default panel-body centerElement">
					<div class="container row col-md-12 well well-sm">
						<form id="formulariopuntuacion" th:action="@{/races/puntuaciones/__${id}__}"
							class="form-horizontal formAlign" action="#" method="post">
							<fieldset>
								<legend align="center" class="header">Puntuacion del Reglamento [[${id}]] -
									[[${puntuacion.tipoSesion.toString()}]] - [[${puntuacion.posicion}]]º</legend>
								<input type="hidden" th:field="*{puntuacion.id}" th:value="${puntuacion.id}"></input>
								<input type="hidden" th:field="*{puntuacion.posicion}"
									th:value="${puntuacion.posicion}"></input>
								<input type="hidden" th:field="*{puntuacion.tipoSesion.id}"
									th:value="${puntuacion.tipoSesion.id}"></input>
								<div class="form-group row">
									<span class="col-2 col-md-2 col-xs-2 text-center"><img src="/icons/puntos.png"
											class="icons" alt="Puntos" title="Puntos">Puntos</span>
									<div class="col-12 col-md-12 col-xs-12">
										<input type="number" class="inputForm" th:field="*{puntuacion.puntos}"
											th:value="${puntuacion.puntos}" required="required"></input>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-12 text-center">
										<button type="submit" class="btn btn-primary pull-center">Aceptar</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>