<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header-css">
</head>

<body class="body columnaentera">
	<div class="container-fluid columnaentera">
		<div class="row columnaentera">
			<div th:replace="fragments/menu::menu">
			</div>
			<div class="col-xs-10 col-10">
				<div class="table-responsive centerElement">
					<h2 class="text-center racesTitle">SISTEMA DE PUNTUACION DEL REGLAMENTO [[${id}]]</h2>
					<table class="table table-bordered centerTable racesTable" id="table" onload="searchFilter()">
						<thead align="center">
							<tr class="bg-danger text-white">
								<th width="10%"><select class="custom-select d-block w-100" id="sesion" name="sesion"
										onchange="searchFilter()">
										<option value="">Todas</option>
										<option value="Entrenamiento">Entrenamiento</option>
										<option value="Clasificacion">Clasificacion</option>
										<option value="Carrera">Carrera</option>
									</select></th>
								<th width="90%">Puntuacion</th>
								<th width="10%">Editar</th>
							</tr>
						</thead>
						<tbody class="bg-white text-black" th:each="puntuacion : ${listaPuntuaciones}">
							<td align="center" th:text="${puntuacion.tipoSesion.descripcion}"></td>
							<td align="center" th:text="${puntuacion.toString()}"></td>
							<td align="center">
								<div class="col-12 col-xs-12"><a class="button" href="#"
										th:href="@{/races/puntuaciones/__${id}__/__${puntuacion.id}__}">
										<img class="icons" src="/icons/editar.png" alt="Modificar"
											title="Modificar Puntuacion"></img>
									</a>
								</div>
							</td>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="8" class="text-center">
									<div class="row">
										<a class="button pull-left col-6 centerVertical"
										th:href="${volver}">
											<button type="button" class="btn btn-danger btn-primary pull-left"
												id="cancel" name="cancel">Volver
											</button>
										</a>
										<div class="col-6 centerVertical">
											<div class="pull-right">
												<strong><em>Número de filas</em></strong>
												<select id="nElements" name="nElements" onchange="searchFilter()">
													<option value="5">5</option>
													<option value="10" selected="selected">10</option>
													<option value="15">15</option>
													<option value="20">20</option>
												</select>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	$('#table').paginate({
		limit: getNumberOfElements(),
		filter: true
	});
	function searchFilter() {
		this.filter();
		$('.page-navigation').remove();
		$('#table').paginate({
			limit: getNumberOfElements(),
			filter: true
		})
	}

	function getNumberOfElements() {
		return document.getElementById("nElements").options[document.getElementById("nElements").selectedIndex].value;
	}

	function filter() {
		var select, table, tbody, tr, td, i, j;
		select = document.getElementById("sesion");
		table = document.getElementById("table");
		tbody = table.getElementsByTagName("tbody");
		i = 0;
		while (tbody.length > i) {
			tr = tbody[i].getElementsByTagName("tr")[0];
			j = 0;
			while (tbody.length > j) {
				td = tr.children[0];
				checkStatus(tr, td, select.options[select.selectedIndex].value, true);
				j++;
			}
			i++;
		}
	}

	function checkColumn(tr, td, filter, display) {
		if (td && display) {
			if (td.innerHTML.indexOf(filter) > -1) {
				tr.style.display = "table-row";
			} else {
				tr.style.display = "none";
			}
		}
	}

	function checkStatus(tr, td, filter, display) {
		if (td && display) {
			if (td.childNodes[0].nodeValue == filter
				|| filter == '') {
				tr.style.display = "table-row";
			} else {
				tr.style.display = "none";
			}
		}
	}

</script>

</html>