<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header-css">
</head>

<body class="body columnaentera">
	<div class="container-fluid columnaentera">
		<div class="row columnaentera">
			<div th:replace="fragments/menu::menu">
			</div>
			<div class="col-xs-10 col-10">
				<div class="table-responsive centerElement">
					<h2 class="text-center racesTitle">SISTEMA DE PUNTUACION DEL REGLAMENTO [[${id}]]</h2>
					<table class="table table-bordered centerTable racesTable" id="table" onload="searchFilter()">
						<thead align="center">
							<tr class="bg-danger text-white">
								<th width="70%">Puntuacion</th>
								<th width="30%">
									<div class="col-xs-12 col-md-12 text-left">
										<strong><em>Número de filas</em></strong>
										<select id="nElements" name="nElements" onchange="searchFilter()">
											<option value="5">5</option>
											<option value="10" selected="selected">10</option>
											<option value="15">15</option>
											<option value="20">20</option>
										</select>
									</div>
								</th>
							</tr>
						</thead>
						<tbody class="bg-white text-black" th:each="puntuacion : ${listaPuntuaciones}">
							<td th:text="${puntuacion.toString()}"></td>
							<td align="center">
								<div class="row ml-1">
									<div class="col-12 col-xs-12"><a class="button" href="#"
											th:href="@{/races/puntuaciones/__${id}__/__${puntuacion.id}__}">
											<img class="icons" src="/icons/editar.png" alt="Modificar"
												title="Modificar Puntuacion"></img>
										</a>
									</div>
								</div>
							</td>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="8" class="text-center"> 
									<a class="button" th:href="@{/races/reglamentos}">
										<button type="button" class="btn btn-danger btn-primary pull-left" id="cancel"
											name="cancel">Volver
										</button>
									</a>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="urlServices" th:value="${urlServices}"></input>
	<input type="hidden" id="reglamento" th:value="${id}"></input>
</body>
<script>
	var href = document.getElementById("urlServices").value;
	function borrarPuntuacion(id) {
		if (id == null) {
			return;
		}
		var reglamento = document.getElementById('reglamento').value;
		$.ajax({
			type: 'DELETE',
			url: href + reglamento + '/' + id,
			contentType: 'application/json;charset=UTF-8',
			success: function (data) {
				location.reload();
			},
			error: function (error) {
				console.log(error);
				location.reload();
			}
		})
	};

	$('#table').paginate({
		limit: getNumberOfElements(),
		filter: false
	});
	function searchFilter() {
		this.filter();
		$('.page-navigation').remove();
		$('#table').paginate({
			limit: getNumberOfElements(),
			filter: false
		})
	}

	function getNumberOfElements() {
		return document.getElementById("nElements").options[document.getElementById("nElements").selectedIndex].value;
	}

	function filter() {
		var select, table, tr, td, i;
		table = document.getElementById("table");
		tr = table.getElementsByTagName("tr");
		i = 1;
	}

</script>

</html>