<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header-css">
</head>

<body class="body columnaentera" onload="searchFilter()">
	<div class="container-fluid columnaentera">
		<div class="row columnaentera">
			<div th:replace="fragments/menu::menu">
			</div>
			<div class="col-xs-10 col-10">
				<div class="table-responsive centerElement">
					<h2 class="text-center racesTitle">LISTA DE REGLAMENTOS</h2>
					<table class="table table-bordered centerTable racesTable" id="table" onload="searchFilter()">
						<thead align="center">
							<tr class="bg-danger text-white">
								<th width="5%"><input type="text" id="id" onkeyup="searchFilter()" placeholder="Id"
										class="col-12 col-xs-12" th:value="${filterId}"></input></th>
								<th width="50%">Descripcion <input type="text" id="descripcion" onkeyup="searchFilter()"
										placeholder="Buscar" class="col-10 col-xs-10"></th>
								<th width="10%">Nº Sesiones</th>
								<th width="10%">Nº Participantes</th>
								<th width="10%">Puntuaciones</th>
								<th width="5%">Editar</th>
								<th width="5%">Clonar</th>
								<th width="5%">Borrar</th>
							</tr>
						</thead>
						<tbody class="bg-white text-black" th:each="reglamento : ${listaReglamentos}">
							<td th:text="${reglamento.id}"></td>
							<td th:text="${reglamento.descripcion}"></td>
							<td>
								<strong>Carreras: </strong>[[${reglamento.nCarreras}]]<br />
								<strong>Clasificaciones: </strong>[[${reglamento.nClasificaciones}]]<br />
								<strong>Entrenamientos: </strong>[[${reglamento.nEntrenamientos}]]
							</td>
							<td>
								<strong>Pilotos: </strong>[[${reglamento.nPilotos}]]<br />
								<strong>Equipos: </strong>[[${reglamento.nEquipos}]]<br />
							</td>
							<td align="center">
								<a href="#" th:href="@{/races/puntuaciones/__${reglamento.id}__}">
									<img class="icons" src="/icons/puntos.png" alt="Puntuaciones"
										title="Ver Puntuaciones"></img>
								</a>
							</td>
							<td align="center">
								<div class="col-12 col-xs-12">
									<a class="button" href="#" th:href="@{/races/reglamentos/__${reglamento.id}__}">
										<img class="icons" src="/icons/editar.png" alt="Editar"
											title="Editar Reglamento"></img>
									</a>
								</div>
							</td>
							<td align="center">
								<div class="col-12 col-xs-12">
									<a class="button" href="#"
										th:href="@{/races/reglamentos/clone__${reglamento.id}__}">
										<img class="icons" src="/icons/copiar.png" alt="Clonar"
											title="Clonar Reglamento"></img>
									</a>
								</div>
							</td>
							<td align="center">
								<div class="col-12 col-xs-12">
									<a class="button" href="#" th:onclick="'borrarreglamento('+ ${reglamento.id} +');'">
										<img class="icons" src="/icons/borrar.png" alt="Borrar"
											title="Borrar Reglamento"></img>
									</a>
								</div>
							</td>

						</tbody>
						<tfoot>
							<tr>
								<td colspan="8" class="text-center">
									<div class="row">
										<a class="button pull-left col-3 centerVertical" th:href="${volver}">
											<button type="button" class="btn btn-danger btn-primary pull-left"
												id="cancel" name="cancel">Volver
											</button>
										</a>
										<a class="button centerVertical col-6" href="/races/reglamentos/new">
											<button type="button" class="btn btn-success"
												style="width: -webkit-fill-available;">
												<img class="icons" src="/icons/reglamento.png"></img> <span
													class="d-none d-sm-inline"></span>Crear Nuevo Reglamento</span>
											</button>
										</a>
										<div class="col-3 centerVertical">
											<div class="pull-right">
												<strong><em>Número de filas</em></strong>
												<select id="nElements" name="nElements" onchange="searchFilter()">
													<option value="5">5</option>
													<option value="10" selected="selected">10</option>
													<option value="15">15</option>
													<option value="20">20</option>
												</select>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="urlServices" th:value="${urlServices}"></input>
</body>
<script>
	var href = document.getElementById("urlServices").value;
	function borrarreglamento(id) {
		if (id == null) {
			return;
		}
		$.ajax({
			type: 'DELETE',
			url: href + id,
			contentType: 'application/json;charset=UTF-8',
			success: function (data) {
				location.reload();
			},
			error: function (error) {
				console.log(error);
				location.reload();
			}
		})
	};

	$('#table').paginate({
		limit: getNumberOfElements(),
		filter: true
	});
	function searchFilter() {
		this.filter();
		$('.page-navigation').remove();
		$('#table').paginate({
			limit: getNumberOfElements(),
			filter: true
		})
	}

	function getNumberOfElements() {
		return document.getElementById("nElements").options[document.getElementById("nElements").selectedIndex].value;
	}

	function filter() {
		var select, table, tbody, tr, td, i, j;
		table = document.getElementById("table");
		tbody = table.getElementsByTagName("tbody");
		i = 0;
		while (tbody.length > i) {
			tr = tbody[i].getElementsByTagName("tr")[0];
			j = 0;
			while (tbody.length > j) {
				td = tr.children[0];
				checkColumn(tr, td, document.getElementById("id").value, true);

				td = tr.children[1];
				checkColumn(tr, td, document.getElementById("descripcion").value,
				tr.style.display == "table-row");
				j++;
			}
			i++;
		}
	}

	function checkColumn(tr, td, filter, display) {
		if (td && display) {
			if (td.innerHTML.indexOf(filter) > -1) {
				tr.style.display = "table-row";
			} else {
				tr.style.display = "none";
			}
		}
	}

</script>

</html>