<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header-css">
</head>

<body class="body columnaentera">
	<div class="container-fluid columnaentera">
		<div class="row columnaentera">
			<div th:replace="fragments/menu::menu">
			</div>
			<div class="col-xs-10 col-10">
				<div class="table-responsive centerElement">
					<h2 class="text-center racesTitle">Resultados de la sesion [[${nombre}]]</h2>
					<table class="table table-bordered centerTable racesTable" id="table" onload="searchFilter()">
						<thead align="center">
							<tr class="bg-danger text-white">
								<th width="20%">Piloto</th>
								<th width="20%">V.Rápida</th>
								<th width="20%">Tiempo Sesion</th>
								<th width="20%">Vueltas</th>
								<th width="20%">
									<div class="col-xs-12 col-md-12 text-left">
										<strong><em>Número de filas</em></strong>
										<select id="nElements" name="nElements" onchange="searchFilter()">
											<option value="5">5</option>
											<option value="10" selected="selected">10</option>
											<option value="15">15</option>
											<option value="20">20</option>
										</select>
									</div>
								</th>
							</tr>
						</thead>
						<tbody class="bg-white text-black" th:each="resultado : ${listaResultados}">
							<td th:text="${resultado.piloto.toString()}"></td>
							<td th:text="${resultado.getVueltaRapida()}"></td>
							<td th:text="${resultado.getTiempoString()}"></td>
							<td th:text="${resultado.vueltas}"></td>
							<td align="center">
								<div class="row ml-1">
									<div class="col-12 col-xs-12">
										<a class="button" href="#"
											th:href="@{/races/vueltas/__${id}__/__${idSesion}__/__${resultado.id}__}">
											<img class="icons" src="/icons/vuelta.png" alt="Vueltas"
												title="Ver Vueltas"></img>
										</a>
									</div>
								</div>
							</td>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5">
									<a class="button pull-left" th:href="@{/races/gp/__${id}__}">
										<button type="button" class="btn btn-danger btn-primary pull-left" id="cancel"
											name="cancel">Volver
										</button>
									</a>
									<form method="post" class="pull-right" th:action="@{/races/sesion/__${id}__/__${idSesion}__/upload}"
										enctype="multipart/form-data">
										<input type="file" name="file">
										<input type="submit" value="Upload">
									</form>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	$('#table').paginate({
		limit: getNumberOfElements(),
		filter: false
	});
	function searchFilter() {
		this.filter();
		$('.page-navigation').remove();
		$('#table').paginate({
			limit: getNumberOfElements(),
			filter: false
		})
	}

	function getNumberOfElements() {
		return document.getElementById("nElements").options[document.getElementById("nElements").selectedIndex].value;
	}

	function filter() {
		var select, table, tr, td, i;
		table = document.getElementById("table");
		tr = table.getElementsByTagName("tr");
		i = 1;
	}

</script>

</html>