<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header-css">
</head>

<body class="body columnaentera">
	<div class="container-fluid columnaentera">
		<div class="row columnaentera">
			<div th:replace="fragments/menu::menu">
			</div>
			<div class="col-xs-10 col-10">
				<div class="table-responsive centerElement">
					<h2 class="text-center racesTitle">Resultados de la sesion [[${nombre}]]</h2>
					<table class="table table-bordered centerTable racesTable" id="table" onload="searchFilter()">
						<thead align="center">
							<tr class="bg-danger text-white">
								<th width="5%">Posicion</th>
								<th width="45%">Piloto</th>
								<th width="15%">V.Rápida</th>
								<th width="15%">Tiempo Sesion</th>
								<th width="10%">Vueltas</th>
								<th width="10%">Sanciones</th>
							</tr>
						</thead>
						<tbody class="bg-white text-black" th:each="resultado : ${listaResultados}">
							<td th:if="${resultadoStat.index == 0}" th:text="${resultadoStat.index + 1}" align="center"
								style="background-color: rgb(234, 193, 2); font-weight: bold;"></td>
							<td th:if="${resultadoStat.index == 1}" th:text="${resultadoStat.index + 1}" align="center"
								style="background-color: rgb(138, 149, 151); font-weight: bold;"></td>
							<td th:if="${resultadoStat.index == 2}" th:text="${resultadoStat.index + 1}" align="center"
								style="background-color: rgb(205, 127, 50); font-weight: bold; "></td>
							<td th:if="${resultadoStat.index > 2}" th:text="${resultadoStat.index + 1}" align="center"
								style="background-color: black; font-weight: bold; color: white;"></td>
							<td th:text="${resultado.piloto.toString()}"></td>
							<td th:text="${resultado.getVueltaRapida()}" align="center"></td>
							<td th:text="${resultado.getTiempoString()}" align="center"></td>
							<td align="center">
								<a class="button" href="#"
									th:href="@{/races/vueltas/__${id}__/__${idSesion}__/__${resultado.id}__}">
									<img class="icons" src="/icons/vuelta.png" alt="Vueltas"
										title="Ver Vueltas"></img>[[${resultado.vueltas}]]
								</a>
							</td>
							<td align="center">
								<div class="col-6 col-xs-6">
									<a class="button" href="#"
										th:href="@{/races/sancion/__${id}__/__${idSesion}__/__${resultado.id}__}">
										<img class="icons" src="/icons/sancion.png" alt="Sanciones"
											title="Ver Sanciones"></img>
									</a>
								</div>
							</td>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="6">
									<div class="row">
										<a class="button pull-left" th:href="@{/races/gp/__${id}__}">
											<button type="button" class="btn btn-danger btn-primary pull-left"
												id="cancel" name="cancel">Volver
											</button>
										</a>
										<form align="center" method="post" class="col-6"
											th:action="@{/races/sesion/__${id}__/__${idSesion}__/upload}"
											enctype="multipart/form-data">
											<input type="file" name="file">
											<input type="submit" value="Upload">
										</form>
										<div class="col-3 centerVertical">
											<div class="pull-right">
												<strong><em>Número de filas</em></strong>
												<select id="nElements" name="nElements" onchange="searchFilter()">
													<option value="5">5</option>
													<option value="10" selected="selected">10</option>
													<option value="15">15</option>
													<option value="20">20</option>
												</select>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	$('#table').paginate({
		limit: getNumberOfElements(),
		filter: false
	});
	function searchFilter() {
		$('.page-navigation').remove();
		$('#table').paginate({
			limit: getNumberOfElements(),
			filter: false
		})
	}

	function getNumberOfElements() {
		return document.getElementById("nElements").options[document.getElementById("nElements").selectedIndex].value;
	}

</script>

</html>