<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header-css">
</head>

<body class="body columnaentera">
	<div class="container-fluid columnaentera">
		<div class="row columnaentera">
			<div th:replace="fragments/menu::menu">
			</div>
			<div class="col-xs-10 col-10">
				<div class="table-responsive centerElement" id="content">
					<h2 class="text-center racesTitle" id="title">Sanciones del piloto [[${piloto}]] en la sesion
						[[${nombre}]]
					</h2>
					<table class="table-bordered  table-dark centerTable racesTable" id="table" onload="searchFilter()">
						<thead class="thead-dark" align="center" id="thead">
							<tr>
								<th width="70%" class="thead-dark-th">Motivo</th>
								<th width="10%" class="thead-dark-th">Puntos</th>
								<th width="10%" class="thead-dark-th">Tiempo (seg.)</th>
								<th width="5%" class="thead-dark-th">Editar</th>
								<th width="5%" class="thead-dark-th">Borrar</th>
							</tr>
						</thead>
						<tbody class="table-warning" th:each="sancion : ${listaSanciones}">
							<td class="td-table" th:text="${sancion.descripcion}"></td>
							<td class="td-table">
								<img class="icons" src="/icons/puntos.png" alt="Puntos"
									title="Puntos"></img>[[${sancion.puntos}]]
							</td>
							<td class="td-table">
								<img class="icons" src="/icons/vuelta.png" alt="Tiempo"
									title="Tiempo"></img>[[${sancion.tiempo}]]
							</td>
							<td class="td-table">
								<div class="col-12 col-xs-12">
									<a class="button" href="#"
										th:href="@{/races/sancion/__${id}__/__${idSesion}__/__${idResultado}__/__${sancion.id}__}">
										<img class="icons" src="/icons/editar.png" alt="Editar"
											title="Editar sancion"></img>
									</a>
								</div>
							</td>
							<td class="td-table">
								<div class="col-12 col-xs-12">
									<a class="button" href="#" th:onclick="'borrarSancion('+ ${sancion.id} +');'">
										<img class="icons" src="/icons/borrar.png" alt="Eliminar"
											title="Borrar Sancion"></img>
									</a>
								</div>
							</td>
						</tbody>
						<tfoot id="tfoot">
							<tr>
								<td colspan="5" class="td-table text-center table-success">
									<div class="row">
										<a class="button col-12 centerVertical"
											th:href="@{/races/sancion/__${id}__/__${idSesion}__/__${idResultado}__/new}">
											<button type="button" class="btn btn-success btn-primary pull-right"
												style="width: -webkit-fill-available;">
												<img class="icons" src="/icons/sancion.png"></img> <span
													class="d-none d-sm-inline"></span>Crear Nueva Sancion</span>
											</button>
										</a>
									</div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="urlServices" th:value="${urlServices}"></input>
</body>
<script>

	var href = document.getElementById("urlServices").value;
	function borrarSancion(id) {
		if (id == null) {
			return;
		}
		$.ajax({
			type: 'DELETE',
			url: href + '/' + id,
			contentType: 'application/json;charset=UTF-8',
			success: function (data) {
				location.reload();
			},
			error: function (error) {
				console.log(error);
				location.reload();
			}
		})
	};

	$('#table').paginate({
		limit: getNumberOfElements(),
		filter: false
	});
	function searchFilter() {
		$('.page-navigation').remove();
		$('#table').paginate({
			limit: getNumberOfElements(),
			filter: false
		})
	}

	function getNumberOfElements() {
		let heightTitle = document.getElementById("title").offsetHeight;
		let heightContent = window.screen.height - 2 * document.getElementById("content").offsetTop;
		let heightHead = document.getElementById("thead").offsetHeight;
		let heightFoot = document.getElementById("tfoot").offsetHeight;
		let tam = document.getElementsByClassName("td-table")[0].offsetHeight;
		return (heightContent - (heightTitle * 2) - (heightHead * 2) - (heightFoot * 2) - (tam * 2)) / tam;
	}

</script>

</html>