<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header-css">
</head>

<body class="body columnaentera">
	<div class="container-fluid columnaentera">
		<div class="row columnaentera">
			<div th:replace="fragments/menu::menu">
			</div>
			<div class="col-xs-10 col-10">
				<div class="table-responsive centerElement" id="content">
					<h2 class="text-center racesTitle" id="title">Vueltas del Piloto [[${piloto}]] en la sesion
						[[${nombre}]]</h2>
					<table class="table-bordered  table-dark centerTable racesTable" id="table" onload="searchFilter()">
						<thead class="thead-dark" align="center" id="thead">
							<tr>
								<th width="10%" class="thead-dark-th">Nº Vuelta</th>
								<th width="90%" class="thead-dark-th">Tiempo</th>
							</tr>
						</thead>
						<tbody class="table-warning" th:each="vuelta : ${listaVueltas}">
							<td class="td-table" th:text="${vuelta.nVuelta}"></td>
							<td class="td-table" th:text="${vuelta.getTiempoFormat()}"></td>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	$('#table').paginate({
		limit: getNumberOfElements(),
		filter: false
	});
	function searchFilter() {
		this.filter();
		$('.page-navigation').remove();
		$('#table').paginate({
			limit: getNumberOfElements(),
			filter: false
		})
	}

	function getNumberOfElements() {
		let heightTitle = document.getElementById("title").offsetHeight;
		let heightContent = window.screen.height - 2 * document.getElementById("content").offsetTop;
		let heightHead = document.getElementById("thead").offsetHeight;
		let tam = document.getElementsByClassName("td-table")[0].offsetHeight;
		return (heightContent - (heightTitle * 2) - (heightHead * 4) - (tam * 2)) / tam;
	}

	function filter() {
		var select, table, tr, td, i;
		table = document.getElementById("table");
		tr = table.getElementsByTagName("tr");
		i = 1;
	}

</script>

</html>