<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header-css">
    <!-- Bootstrap CSS -->
    <title>RACES MANAGEMENT</title>
    <meta charset="utf-8">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </meta>

    <!-- Required meta tags -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap-4.1.1/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap-4.1.1/bootstrap.min.js"></script>

    <script src='/js/jquery-paginate.js'></script>
</head>

</html>