<div th:fragment="menu" class="area col-1 col-xs-1" id="sidebar">
    <div class="area"></div>
    <nav class="main-menu">
        <ul class="ul-menu">
            <li class="has-subnav"><a href="/races/pilotos"><img class="iconsmenu fa img-2x"
                        src="/icons/casco.png"></img> <span class="nav-text"> Pilotos</span></a></li>
            <li>
                <hr style="height:1px" color="black">
            </li>
            <li class="has-subnav"><a href="/races/equipos"><img class="iconsmenu fa img-2x"
                        src="/icons/equipo.png"></img> <span class="nav-text"> Equipos</span></a></li>
            <li>
                <hr style="height:1px" color="black">
            </li>
            <li class="has-subnav"><a href="/races/reglamentos"><img class="iconsmenu fa img-2x"
                        src="/icons/reglamento.png"></img> <span class="nav-text"> Reglamentos</span></a></li>
            <li>
                <hr style="height:1px" color="black">
            </li>
            <li class="has-subnav"><a href="/races/campeonatos"><img class="iconsmenu fa img-2x"
                        src="/icons/campeonato.png"></img> <span class="nav-text">Campeonatos</span></a></li>
            <li>
                <hr style="height:1px" color="black">
            </li>
            <li><a href="#"><img class="iconsmenu fa img-2x" src="/icons/editar.png"></img>
                    <span class="nav-text"> Tu Perfil</span></a>
            </li>
            <li>
                <hr style="height:1px" color="black">
            </li>
            <li><a href="#"><img class="iconsmenu fa img-2x" src="/icons/inscripcion.png"></img>
                    <span class="nav-text"> Tus Inscripciones</span></a>
            </li>
        </ul>
        <ul class="logout">
            <!-- <li><a href="javascript:history.back()"><img class="iconsmenu fa img-2x" src="/icons/volver.png"></img>
                    <span class="nav-text"> Volver</span></a>
            </li> -->
            <li><a href="/races/logout"><img class="iconsmenu fa img-2x" src="/icons/logout.png"></img>
                    <span class="nav-text"> Logout</span></a>
            </li>
        </ul>
    </nav>
</div>