<div th:fragment="menu" class="area col-1 col-xs-1" id="sidebar">
    <div class="area"></div>
    <nav class="main-menu">
        <ul class="ul-menu">
            <li class="nav-item">
                <a class="nav-link collapsed text-truncate menuoption" href="#submenu1" data-toggle="collapse"
                    data-target="#submenu1"><img class="iconsmenu fa img-2x" src="/icons/perfil.png"></img> <span
                        class="nav-text">[[${session.user}]]</span></a>
                <div class="collapse" id="submenu1" aria-expanded="false">
                    <ul class="flex-column pl-2 nav">
                        <li><a th:href="@{/races/inscripciones/p__${session.piloto.id}__}"><img class="iconsmenu fa img-2x" src="/icons/inscripcion.png"></img>
                                <span class="nav-text"> Tus Inscripciones</span></a>
                        </li>
                        <li><a href="/races/pilotos/perfil"><img class="iconsmenu fa img-2x" src="/icons/editar.png"></img>
                            <span class="nav-text"> Tu Perfil</span></a>
                        </li>
                        <li><a href="/races/pilotos/password"><img class="iconsmenu fa img-2x" src="/icons/password.png"></img>
                            <span class="nav-text"> Cambiar Password</span></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <hr style="height:1px" color="black">
            </li>
            <li class="has-subnav"><a href="/races/pilotos"><img class="iconsmenu fa img-2x"
                        src="/icons/casco.png"></img> <span class="nav-text"> Pilotos</span></a></li>
            <li>
                <hr style="height:1px" color="black">
            </li>
            <li class="has-subnav"><a href="/races/equipos"><img class="iconsmenu fa img-2x"
                        src="/icons/equipo.png"></img> <span class="nav-text"> Equipos</span></a></li>
            <li>
                <hr style="height:1px" color="black">
            </li>
            <li class="has-subnav"><a href="/races/reglamentos"><img class="iconsmenu fa img-2x"
                        src="/icons/reglamento.png"></img> <span class="nav-text"> Reglamentos</span></a></li>
            <li>
                <hr style="height:1px" color="black">
            </li>
            <li class="has-subnav"><a href="/races/campeonatos"><img class="iconsmenu fa img-2x"
                        src="/icons/campeonato.png"></img> <span class="nav-text">Campeonatos</span></a></li>
        </ul>
        <ul class="logout">
            <li><a href="/races/logout"><img class="iconsmenu fa img-2x" src="/icons/logout.png"></img>
                    <span class="nav-text"> Logout</span></a>
            </li>
        </ul>
    </nav>
</div>